body {
  background-color: #7f5c4c;
  position: relative;
}

.fix-nav {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.div-nav {
  height: 10vh;
}

#navbar {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.profile-wrapper {
  height: 12vh;
  position: relative;
}

.profile {
  padding-block: 0.8rem;
  width: 9rem;
  position: fixed;
  left: 88%;
  top: 0;
  text-align: center;
  background-color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1000;
}

.profile img {
  width: 7rem;
  border-radius: 35%;
}

.img1 {
  position: absolute;
  right: 174px;
  top: 352px;
  width: 14rem;
}

.img2 {
  position: absolute;
  top: 80px;
  left: 76px;
  width: 36rem;
}

.img3 {
  position: absolute;
  top: 702px;
  left: 127px;
  width: 43rem;
}

.img1 img,
.img2 img,
.img3 img {
  width: 100%;
}

.home-img {
  height: 35vh;
  object-fit: cover;
  box-shadow: 0px 2px 13px -2px black;
}

.h-card {
  min-height: 370px;
  max-height: 450px;
}

.home-h-card {
  width: 20rem;
  height: 53vh;
}

.my-cont {
  height: 90vh;
}

.top-div {
  padding-inline: 5rem;
  padding-block: 6rem;
  width: 40rem;
  position: relative;
  z-index: 10;
  background-color: #000000c7;
  border-top-right-radius: 172px;
  margin-left: 2rem;
  border-bottom-left-radius: 172px;
  text-align: center;
}

.top-div h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #ff5200;
}

.my-cb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 3px 9px -4px #3d3d3d;
}

.del-btn {
  width: 6rem;
}

.dist-cont {
  margin-top: 50rem;
  margin-bottom: 2rem;
}

.edit-form {
  padding: 20px;
  background-color: #0000008a;
  margin-top: 1rem;
  border-radius: 25px;
}

figure {
  text-align: center;
}
